<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
     <!-- <link rel="icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/favicon.ico" /> -->
    <!-- <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/icon-192x192.png" /> -->
    <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/empty.json" /> -->
    <!-- <link rel="icon" style="color: black; background-color: black;" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/logo.svg" sizes="25x25" type="image/gif">  -->
    <title>Smokey's</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- <div id="root"></div> -->
    <button id="myBtn" title="Go to top">Scrolling Top</button>

    <div class="header">   
        <div class="header__wrap center">  

            <div class="header__logo">
                <img class="header__logo-image"> 
                <span class="header__logo-title">Smokey's</span>
            </div>

            <div class="header__modal">
                <table class="header__modal-table"></table>                                                          
                <div class="header__modal-total">Total price: 0 $</div>
            </div>

            <ul class="header__menu flexbox">
                <li class="header__menu-item"><a href="#">STORE</a></li>
                <li class="header__menu-item"><a href="#">REVIEWS</a></li>
                <li class="header__menu-item"><a href="#">CONTACTS</a></li>
                <li class="header__menu-item"><a href="#">ABOUT US</a></li>
                <li class="header__menu-item" id="modal__open"> 
                    <div class="cart">
                        <span class="cart__image fa">&#xf07a;</span>
                        <span class="cart__count"></span>
                    </div>
                </li>           
            </ul>

        </div>
    </div>

    <div class="main">   
        
        <div class="main__content"> 
            <div class="main__wrap center">
    
                <ul class="main__menu flexbox">               
                    <li class="main__menu-item"><a href="#">Hookahs</a></li>
                    <li class="main__menu-item"><a href="#">Tobacco</a></li>
                    <li class="main__menu-item"><a href="#">Coal</a></li>
                    <li class="main__menu-item"><a href="#">Accessories</a></li>
                    <li class="main__menu-item"><a href="#">Flasks</a></li>
                    <li class="main__menu-item"><a href="#">Bowls</a></li>
                    <li class="main__menu-item"><a href="#">Hoses</a></li>
                    <li class="main__menu-item"><a href="#">Ready sets</a></li>                                        
                </ul>

                <div class="main__title">
                    <h1>Hookah shop in <br>Russia, Moscow</h1>
                    <span>We offer a wide range of hookahs, tobaccos and accessories with delivery<br>
                        in Moscow and all over Russia
                    </span>
                </div>

            </div>
        </div>
        <div class="main__notice">
            <h2>PRODUCTS</h2>
        </div>
        <div class="main__catalog-first center">
            <noscript>You need to enable JavaScript to run this app.</noscript>   
            <ul class="catalog__menu"></ul>
        </div>  
    

    
        <!-- <div class="main__catalog-second center">
            <ul class="catalog__menu"></ul>
        </div> -->
    
        <div class="main__notice">
            <h2>STORE LOCATION</h2>
        </div>

    </div>

    <div class="widget__map"> 
        <iframe           
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21988.091269416076!2d37.61231642346249!3d55.75124675690271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1613495564467!5m2!1sru!2sru"
            width="100%" 
            height="100%" 
            frameborder="0" 
            zoomControl="false"
            style="border:0;">
        </iframe>
    </div>

    <div class="footer">
        <div class="footer__wrap center">
            
            <div class="footer__left">
                <ul class="footer__menu">               
                    <li class="footer__menu-item"><a href="#">Hookahs</a></li>
                    <li class="footer__menu-item"><a href="#">Tobacco</a></li>
                    <li class="footer__menu-item"><a href="#">Coal</a></li>
                    <li class="footer__menu-item"><a href="#">Accessories</a></li>
                    <li class="footer__menu-item"><a href="#">Flasks</a></li>
                    <li class="footer__menu-item"><a href="#">Bowls</a></li>
                    <li class="footer__menu-item"><a href="#">Hoses</a></li>
                    <li class="footer__menu-item"><a href="#">Ready sets</a></li>                                        
                </ul>
            </div>

            <div class="footer__right">
                <h2 class="footer__right-item">Subscribe to our newsletter</h2>               
                <form class="footer__right-item">
                    <input type="email" placeholder="your@mail.com">
                    <input type="button" value="Subscribe">​
                </form>
                <p class="footer__right-item">By clicking on the button, you consent to the processing of personal data and agree to the privacy policy</p>
            </div>

        </div>       
    </div>
  </body>
</html>
